

:root{
    --black: #131516;
    --soft-black: #181a1b;
    --orange: #f4aa89;
    --soft-red: #ef8383;
    --red: #f06261;
    --green: #44bba4;
    --soft-green: #44bba399;
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 5px;
    
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #292c2e;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #292c2e;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 48
}


a         { color: inherit; text-decoration: none; }
a:link    { color: inherit; text-decoration: none; }
a:visited { color: inherit; text-decoration: none; }
a:hover   { color: inherit; text-decoration: none; }
a:active  { color: inherit; text-decoration: none; } 

.table {
    vertical-align: middle;
    color: white !important;
}

body{
    background-color: var(--black);
    color: white !important;
}

.tableName{
    width: 90% !important;
}

.tableStars{
    width: 100% !important;
    text-align: center;
}

.deleteBtn{
    color: var(--red);
    cursor: pointer;
}
.deleteBtn:hover{
    transition: ease-in .25s;
    color: var(--soft-red);
}

.doneBtn{
    cursor: pointer;
    color: var(--green)
}
.doneBtn:hover{
    transition: ease-in .25s;
    color: var(--soft-green);
}

.form-control:focus {
    border-color: var(--soft-green);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px var(--soft-green);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px var(--soft-green);    
    background-color: var(--soft-black);
}

.form-control {
    border-color: rgba(255, 255, 255, 0.5);
    outline: 0; 
    background-color: var(--soft-black);
    color: white !important;
}

.tableHover tbody tr:hover td, .tableHover tbody tr:hover th {
    background-color: var(--soft-black);
  }

.addAnimeBtn{
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 6px;
    background-color: var(--green);
    
}
.addAnimeBtn:hover{
    transition: ease-in-out .25s;
    background-color: var(--orange);
}
.addAnimeBtn:active{
    background-color: var(--soft-green);
}
.glowShadow{
    transition: ease-in-out .25s;
    animation: glow 900ms infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px var(--orange);
  }
  to {
    box-shadow: 0 0 10px 2px var(--orange);
  }
}
.addAnimeBtn:disabled{
    background-color: var(--soft-green);
    color: rgba(255, 255, 255, 0.5);
}
#animeNameAdd:disabled{
    background-color: rgba(255, 255, 255, 0.123);
}

.offcanvas{
    background-color: var(--soft-black);
}
.closeBtn{
    background: transparent;
    border: none;
    color: var(--green);
}
.closeBtn:hover{
    transition: ease-in-out .25s;
    color: var(--orange);
}

.toast-header{
    color: white;
}

.modal-content{
    color: white;
    background-color: var(--soft-black);
}

.animeNameChooseTable:hover{
    cursor: pointer;
    transition: ease-in-out .25s;
    color: var(--green);
}

.addAnimeFields{
    vertical-align: middle;
    padding: 10px 50px 10px 0px;
}
.addText{
    vertical-align: middle;
    padding: 10px 50px 10px 50px;
}

.positiveScore{
    color: var(--green);
}
.middleScore{
    color: var(--orange);
}
.negativeScore{
    color: var(--red);
}

#closeModal{
    display: none;
    position: relative;
}

.dropdownBtn{
    border: 0;
    border-radius: 5px;
    background-color: var(--green);
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
    line-height: 0;
}
.dropdownBtn:hover{
    transition: ease-in-out .25s;
    background-color: var(--orange);
}
.dropdownBtn:active{
    background-color: var(--soft-green);
}

.orderBtn{
    vertical-align: middle;
    padding: 10px 0px 10px 0px;
}

.sortDropdown{
    align-items: right;
    vertical-align: middle;
    text-align: right;
}
.dropdownList{
    background-color: var(--soft-black);
    color: white !important;
}
.dropdownList li a:hover{
    background-color: var(--soft-green) !important;
    color: white !important;
    cursor: pointer;
}
.dropdownList li a{
    color: white !important;
}

.randomBigBtn{
    border: 0;
    border-radius: 5px;
    background-color: var(--green);
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
    line-height: 0;
}
.randomBigBtn:hover{
    transition: ease-in-out .25s;
    background-color: var(--orange);
}
.randomBigBtn:active{
    background-color: var(--soft-green);
}

.infoBtn{
    text-align: right;
    cursor: pointer;
}
#animeListTable tr .infoBtn{
    opacity: 0;
}
#animeListTable tr:hover .infoBtn{
    transition: ease-in-out .25s;
    opacity: 1;
}
#animeListTable tr .infoBtn:hover{
    transition: ease-in-out .25s;
    color: var(--green);
    cursor: pointer;
}

#watchedAnimeListTable tr .infoBtn{
    opacity: 0;
}
#watchedAnimeListTable tr:hover .infoBtn{
    transition: ease-in-out .25s;
    opacity: 1;
}
#watchedAnimeListTable tr .infoBtn:hover{
    transition: ease-in-out .25s;
    color: var(--green);
    cursor: pointer;
}

.moreInfoModalImages{
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    padding: 1px;
    position: relative;  
}
.moreInfoModalImages:hover{
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    z-index: 5;
    transform: scale(2.5); 
}

#inpNotesModal{
    background-color: var(--soft-black);
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: white;
}
#inpNotesModal:focus-visible{
    background-color: var(--soft-black);
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: white;
    outline: 0;
}
#inpNotesModal:focus{
    background-color: var(--soft-black);
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: white;
    outline: 0;
}

#localScoreInp{
    background-color: var(--soft-black);
    width: 75%;
    border: 0;
    border-radius: 5px;
    color: white;
}
#localScoreInp:focus-visible{
    background-color: var(--soft-black);
    width: 75%;
    border: 0;
    border-radius: 5px;
    color: white;
    outline: 0;
}
#localScoreInp:focus{
    background-color: var(--soft-black);
    width: 75%;
    border: 0;
    border-radius: 5px;
    color: white;
    outline: 0;
}

.accordion-item{
    background-color: var(--soft-black);
    color: white;
    border:0;
}
.accordion-button{
    background-color: var(--black) !important;
    color: white !important;
    /* border: 1px solid white !important; */
    border: 0;
}
.accordion-button:focus{
    outline: 0;
    box-shadow: none;
    /* border: 1px solid var(--green); */
    border: 0;
}
.accordion-button:focus-visible{
    outline: 0;
    box-shadow: none;
}

.hide{
    display: none;
    position: absolute;
}

.myPopover{
  --bs-popover-border-color: var(--soft-green);
  --bs-popover-header-bg: var(--soft-black);
  --bs-popover-header-color: white;
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-bg: var(--black);
  --bs-popover-body-color: white;
}

.notesIcon:hover{
    cursor: pointer;
    transition: ease-in-out .25s;
    color: var(--green);
}

.favoriteBtn{
    color: palevioletred;
    cursor: pointer;
}
.favoriteBtn:hover{
    transition: ease-in .25s;
    color: var(--orange);
}   

.heart_plusBtn{
    color: palevioletred;
    cursor: pointer;
}
.heart_plusBtn:hover{
    transition: ease-in .25s;
    color: var(--orange);
}

.remove_doneBtn{
    color: var(--orange);
    cursor: pointer;
}
.remove_doneBtn:hover{
    transition: ease-in .25s;
    color: var(--red);
}

.actionsBtns{
    min-width: 90px !important;
    text-align: center;
}